/* === Base Layout === */
body {
  background-color: #0b0b0b;
  color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: Pretendard-SemiBold;
}

/* === Thumbnail Section === */
.thumbnail {
  position: relative;
  width: 100%;
  height: 70vh;
  /* Occupies 70% of the viewport height */
  background-image: url('../web/img/main_image.jpg');
  background-size: cover;
  background-position: center;
}

.thumbnail::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  /* Semi Transparent black overlay */
  z-index: 1;
}

/* Title text thumbnail */
.thumbnail-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  font-weight: bold;
  color: #00ff99;
  text-align: center;
  z-index: 2;
  /* dimension */
}

/* === Navigation === */
.navigator {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  /* Stays at the top while scrolling */
  top: 0;
  padding: 10px 0;
  width: 100%;
  z-index: 3;
}

.nav-item .nav-link {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
}

.nav-item {
  padding-right: 35px;
  font-family: Pretendard-SemiBold;
  white-space: nowrap;
  /* Prevents line breaks */
}

/* Active hover effects */
.nav-link:hover {
  color: #00ff99;
}

.navbar-nav {
  list-style: none;
  display: flex;
  flex-direction: row;
}


/* === Headings and Layout === */
header,
footer {
  text-align: center;
  border-bottom: 1px solid #333;
}

h1,
h2,
h3 {
  color: #00ff99;
}

main {
  display: flex;
  flex-direction: column;
  /* display: grid;
  grid-template-columns: 1fr; */
  padding: 20px;
  max-width: 900px;
  margin: auto;
}

p {
  font-family: Pretendard-Regular;
}

/* === Lists, Tables, and Grid === */

li {
  font-family: Pretendard-Regular;
}

ul {
  padding-left: 30px;
}


table {
  width: 100%;
  border-collapse: collapse;
  /* Removes gaps */
  margin-top: 20px;
}

th,
td {
  border: 1px solid #00ff99;
  padding: 13px;
  text-align: left;
}

/* === Key Concepts grid === */
.concept-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.concept-card {
  border: 1px solid #00ff99;
  padding: 15px;
  border-radius: 10px;
  background-color: #111;
}

/* === Footer === */
footer {
  margin-top: 40px;
  border-top: 1px solid #333;
  padding: 15px;
  color: #888;
}

footer a {
  color: #00ff99;
}

footer a:hover {
  color: #ffffff;
}

/* === References List Section === */
.references-list {
  margin: 10px 0;
  padding-left: 0;
  list-style: none;

  li {
    margin: 15px 0;
    line-height: 1.6;

    a {
      color: #00ff00;
      text-decoration: none;
    }

    a:hover {
      color: #2e762e;
      text-decoration: underline;
    }

  }
}

.terms-list {
  li {
    margin: 20px 0;
  }
}

#about-table {
  td {
    font-family: Pretendard-Regular;
  }
}

/* === Topic Section === */
.topic-section {
  margin: 30px auto;
  max-width: 700px;
  background-color: #111;
  border: 1px solid #00ff99;
  border-radius: 15px;
  padding: 30px;

  h2 {
    text-align: center;
  }
}

.topic-list {
  list-style: none;
  counter-reset: toc-counter;
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;

  li {
    margin-bottom: 10px;
    flex: 1 1 calc(33.333% - 20px);
    /* 3 items per row */
  }

  a {
    border: 1px solid #00ff99;
    padding: 10px;
    display: block;
    border-radius: 15px;
    text-decoration: none;
    color: #fff;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a:hover {
    background-color: #00ff99;
    color: #000;
    /* hover */
  }
}